<!DOCTYPE html>

<head>
   
    <title>User Sign-up Form</title>
    
</head>

<body>
    <style>
        form{background-color:aqua}
        h1{color: black;
        -webkit-text-fill-color: skyblue; 
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;font-size:50px;font-weight:bold;
        font-family:Cursive;color:#4682b4;text-align: center}
        td{font-weight:800}
        .error {font-family:Impact;color:red;}
        </style>

   
    {% block content %}
    {% endblock %}

    </div>

</body>
</html>